body
{  
    background-color: rgb(120, 168, 240)
}

h1
{
    position: relative;
    top: 250px;
    width: 100%;
}

/* Thumbnail */
.thumb
{
    width: 1920px;
    height: 1080px;

    background: #FFFFFF
    url("blue-mist.jpg");
    background-size: cover;
    box-shadow: 2px 4px 9px 10px rgba(206, 223, 226, 0.75);
}


.mist
{
    display: flex;
    justify-content: space-between;
    width: 1890px;
    height: 100px;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;

    letter-spacing: 0.4em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* more images */
.text1
{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 29px;
    left: 45px;
    top: 64px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 75px;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* fog night
*/
.logos
{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;

}
.fb
{
    width: 40px;
    height: 40px;
}


/* mist*/
.mistxt
{
    display: flex;
    justify-content: center;
    width: 1400px;
    height: 400px;
    left: 250px;
    margin-top: 10px;
    margin-bottom: 100px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 288px;
    line-height: 70px;
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* what is */
.maintextam
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1910px;
    height: 20px;
    margin-top: 100px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 75px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* also known as fog */
.maintext2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    height: 300px;
   

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;

    text-align: end;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 0.75);
}

.logotext
{
    display: flex;
    justify-content: space-between;
    width: 1890px;
    height: 350px;

    margin-right: 20px;
    margin-left: 20px;
}