body
{  
    background-color: rgb(120, 168, 240)
}
.image 
{
    position: relative;
    width: 100%; 
}

h1
{
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
}

/* Thumbnail */
.thumb
{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
    box-shadow: 2px 4px 9px 10px rgba(206, 223, 226, 0.75);
}

/* Background Image */

img
{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
}


/* fog */
.mist
{
    position: absolute;
    width: 93px;
    height: 97px;
    left: 45px;
    top: 64px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;

    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* more images */
.text1
{
    position: absolute;
    width: 100%;
    height: 29px;
    left: 1657px;
    top: 91px;
    margin-right: 300px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 75px;
   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* fog night
*/
.fb
{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 77px;
    top: 875px;
}

/* fog
*/
.inst
{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 77px;
    top: 993px;
}

/* fog day
*/
.twt
{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 77px;
    top: 934px;
}

/* group of text */
.maintext1
{
    position: absolute;
    width: 1468px;
    height: 475px;
    left: 226px;
    top: 303px;

}


/* mist*/
.mistxt
{
    position: absolute;
    width: 1400px;
    height: 475px;
    left: 250px;
    top: 10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 288px;
    line-height: 70px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* what is */
.maintextam
{
    position: absolute;
    width: 141px;
    height: 29px;
    left: 712px;
    top: 100px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 75px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

/* also known as fog */
.maintext2
{
    position: absolute;
    width: 406px;
    height: 29px;
    left: 990px;
    top: 699px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 0.75);
}